.aboutMe {
    margin-top: 80px;
    
    &__grid_container {
        padding: 40px;
        border-radius: 50px;
        background-color: $bg_color;
        display: grid;
        grid-template-columns: 300px 2fr;
    }
    &__imgMe {
        max-width: 300px;
        border-radius: 40px;
    }
    &__self {
        padding-left: 70px;
    }
    &__subTitle {
        font-family: "BanderaProMedium";
        position: relative;
        font-size: 20px;
        z-index: 2;
        padding-left: 10px;
        @include circle;
        &::before {
            top: -7px;
        }
    }
    &__title {
        font-size: 36px;
        font-family: "BanderaPro-Bold";
        padding-top: 10px;
    }
    &__divider {
        height: 2px;
        width: 60px;
        background-color: $main-color;
        margin-top: 5px;
    }
    &__introduction {
        padding-top: 20px;
        font-family: 'BanderaProThin';
        a {
            text-decoration: none;
            font-family: 'BanderaProMedium';
            color: #000;
        }
        
    }

    
    &__skill {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
        &:nth-child(even) {
            padding-right: 45px;
        }
        
        & li {
            list-style: none;
        }

        &_mainTitle {
            position: relative;
            font-family: 'BanderaProHeavy';
            margin-top: 35px;
            margin-left: 15px;
            z-index: 2;
            @include circle;
            &::before {
                width: 20px;
                height: 20px;
                left: -24px;
                top: 0;
                border-radius: 10px;
            }
            &::after {
                content: '';
                position: absolute;
                height: calc(100% + 5px);
                width: 1px;
                background-color: #000;
                left: calc(0% - 15px);
                top: 20px;
            }
        }
        &_place {
            margin-top: 15px;
            position: relative;
            &:nth-child(1) {
                margin-top: 0px;
            }
            // &::before {
            //     position: absolute;
            //     content: '';
            //     height: 100%;
            //     width: 1px;
            //     background-color: #000;
            //     left: 0%;
            // }
        }
        &_wrap {
            display: flex;
            flex-direction: row;
            position: relative;    
        }
        
        &_column {
            position: relative;
        }
        
        &_title {
            padding-left: 20px;
            font-family: 'BanderaProHeavy';
        }
        &_prof,&_subTitle,&_descr {
            font-family: 'BanderaProThin';
            padding-left: 20px;
        }
        &_prof {
            font-family: 'BanderaProHeavy';
            font-size: 12px;
            
        }
        &_descr {
            font-size: 15px;
        }
        &_icon {
            margin-left: 30px;
            z-index: 2;
            position: relative;
            @include circle;
            &::before {
                width: 15px;
                height: 15px;
                top: 2px;
                left: -4px;
                border-radius: 7px;
            }
        }
        &_divider {
            position: absolute;
            height: 1px;
            width: 26px;
            background-color: #000;
            margin-top: 9px;
            left: -30px;
        }
    }
}

#heightLine {
    position: absolute;
    height: calc(100% + 15px);
    top: 10px;
    width: 1px;
    background-color: #000;
}

li:nth-last-child(-n+1) #heightLine{
    width: 0;
}