.contact {
    margin-top: 100px;
    outline: none;
    .container {
        padding: 40px;
        background-color: $bg-color;
        border-radius: 50px;
    }
    &__gridWrapper {
        padding: 0 35px 90px 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        column-gap: 70px;
        justify-content: space-between;
        
    }
    &__myPhoto {
        & img {
            width: 400px;
            border-radius: 50px;
        }
    }
    &__title {
        font-family: 'Montserrat-Medium';
        position: relative;
        font-size: 20px;
        padding-top: 5px;
        z-index: 1;
        @include circle;
        &::before {
            position: absolute;
            z-index: -1;
            left: -15px;
            top: -3px
        }
    }
    &__withMe {
        font-size: 50px;
        font-family: 'Montserrat-Light';
    }
    &__divider {
        width: 50px;
        height: 3px;
        margin-top: 10px;
        background-color: $main-color;
    }
    &__likeUWant {
        margin-top: 15px;
        
    }
    &__messenger_container {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        margin-top: 20px;
        .pr10 {
            padding-right: 10px;
        }
    
    }
    &__linkOr {
        margin-top: 20px;
        font-family: 'Montserrat-Light';
    }

    &__form {
        display: grid;
        grid-template: 45px 190px 68px / repeat(2, 265px);
        margin-top: 30px;
        gap: 30px;
    }
    &__input {
        position: relative;
        margin-right: 25px;
        ._error {
            position: absolute;
            box-shadow: 0 0 5px red;
            z-index: 1;
        }
        &:nth-last-child(odd) {
            margin-right: 0;
        }
        input {
            z-index: 1;
            height: 100%;
            width: 100%;
            background-color: $bg-color;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: none;
            border-radius: 5px;
            padding: 0 15px;
            font-family: "Montserrat-Light";            
        }
        label {
            display: block;
            position: absolute;
            width: 75px;
            height: 18px;
            font-size: 12px;
            top: -8px;
            z-index: 2;
            background-color: $bg-color;
            padding: 0 5px;
            text-align: center;
            left: -4px;
        }
    }
    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        margin-top: 30px;
        textarea {
            position: relative;
            padding: 15px;
            height: 100%;
            width: 100%;
            resize: none;
            font-family: "Montserrat-Light";
            background-color: $bg-color;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            &._error {
                position: absolute;
                box-shadow: 0 0 5px red;
                z-index: 1;
            }
            
        }
        label {
            display: block;
            position: absolute;
            width: 110px;
            left: 0px;
            height: 18px;
            font-size: 12px;
            top: -8px;
            left: -4px;
            z-index: 2;
            background-color: $bg-color;
            padding: 0 5px;
            text-align: center;
            
        }
    }
    button    {
        margin-top: 30px;
        font-family: 'Montserrat-Black';
    }
    
}