.hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 45px;
    right: 20px;
    width: 30px;
    height: 20px;
    justify-content: space-between;
    &:hover {
        cursor: pointer;
    }
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #000;
    }
    span.long {
        width: 36px;
    }
}
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    opacity: 0;
    transition: all .6s;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        position: relative;
        width: 350px;
        height: 100vh;
        background-color: $main_color;
        z-index: 4;
    }
    &__close_btn {
        position: absolute;
        cursor: pointer;
        right: 25px;
        top: 25px;
    }
    ul {
        padding-top: 140px;
        padding-left: 40px;
    }
    &__list {
        list-style-type: none;
        
    }
    &__link {
        position: relative;
        font-size: 20px;
        text-decoration: none;
        padding-left: 40px;
        margin-bottom: 15px;
        transition: all .6s;
        &::before {
            content: '';
            position: absolute;
            left: 5px;
            top: 6px;
            width: 10px;
            height: 10px;
            border: 1px solid #000;
            border-radius: 50%;
        }
        &:hover {
            &::before {
                background-color: #000;
            }
        }
        a {
            font-family: 'Montserrat-Bold';
            color: azure;
            text-decoration: none;
            
        }
    }
    &__social {
        display: flex;
        position: absolute;
        bottom: 20px;
        justify-content: space-between;
        width: 90px;
        height: 20px;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        
        &_icon:nth-child(odd) {
            transform: rotateZ(90deg);
        }
        &_icon:nth-child(even) {
            transform: translateX(3px) translateY(2px);
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: darkgrey;
        opacity: 90%;
        &.active {
            left: 0;
        }
    }
}
