.social {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 290px;
    &__divider {
        height: 70px;
        width: 5px;
        background: #000;
        border-radius: 10px;
    }
    &__title {
        font-family: 'Montserrat-Medium';
        
        transform: rotate(-90deg) translate(-2%, 40%);
        display: block;
        width: 105px;
        height: 100px;
    }
}