.social {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    &__divider {
        height: 70px;
        width: 5px;
        background: #000;
        border-radius: 10px;
    }
    &__title {
        transform: rotate(-90deg) translate(5%, 43%);
        display: block;
        width: 160px;
        height: 150px;
    }
}