
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf')
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.ttf');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@import 'variables';
@import 'mixin';



* {
    font-family: 'Montserrat-Regular';
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/wrap';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/social';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/use';
@import 'blocks/contact';
@import 'blocks/portfolio';

@import 'media';